*{
    background-image: url(pictures/background2.jpg.jpg);
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color: blueviolet;
}
#NAME{
    color: black; 
    text-align: center;
}